<%include partials/header%>

<div class="col-sm-10">
<h1>Local library home</h1>
  <p>Welcome to <em>LocalLibrary</em>, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>
  <h1>Dynamic content</h1>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:<%=data.book_count%></strong> </li>
    <li><strong>Copies:<%=data.book_instance_count%></strong> </li>
    <li><strong>Copies available:<%=data.book_instance_available_count%></strong>  </li>
    <li><strong>Authors:<%=data.author_count%></strong> </li>
    <li><strong>Genres:<%=data.genre_count%></strong> </li>
  </ul>
</div>
<%include partials/footer%>
